/* 
CSS za projekt "Fallout 2 tribute page" - Multimedijski sustavi 
v.1, studeni 2017.
*/

body {
	font-family: Monospace;
	font-size: 1.3em;
	color:lime;
	max-width: 800px;
	margin: 0 auto;
	background-color: black;
	box-sizing: border-box;
}


header {
	position: relative;
	height: 250px;
	max-width: 900px;
	background-image: url("../img/jpg/Header_logo.png");
	background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    margin-top:10px;
    border-radius: 10px;
    padding:5px;
    box-sizing: content-box;
    overflow: auto;
}
header h1 { float:right; margin:20px; color: white;} 
header p {  margin-left:20%; font-size: 1.5em;color: lime;}



/* MAIN NAV */
/*
#main_nav {width: 100%; height: 60px; text-align: center; position:relative;}
#main_nav h1 { position:relative; border: 1px solid green; width: 100%; display: inline-block; font-size: 2em; margin-top: 13px; padding: 0;}
#main_nav ul {cursor: pointer; position: absolute; top: 10px; width:100%;  height: 50px; margin:0; padding:0; }
#main_nav ul li { position: absolute; opacity:0; transition: all 1s ease-in-out; width: 200px; height:40px; list-style: none; margin:0; padding:0; }
#main_nav ul li img {}
#main_nav ul li a {color:lime; font-size: 1.2em; position: absolute; top:10px; left:60px; display: inline-block;}

#main_nav ul:hover .l1{opacity:.6; transform: translate(-10px, 50px);transition-delay: .1s;}
#main_nav ul:hover .l2{opacity:.6; transform: translate(-10px, 90px);transition-delay: .3s;}
#main_nav ul:hover .l3{opacity:.6; transform: translate(-10px, 130px);transition-delay: .5s;}
#main_nav ul:hover .l4{opacity:.6; transform: translate(-10px, 170px);transition-delay: .7s;}
#main_nav ul:hover .l5{opacity:.6; transform: translate(-10px, 210px);transition-delay: .9s;}

#main_nav ul:hover .l1:hover {opacity:1; transition: all .2s ease-in-out}
#main_nav ul:hover .l2:hover {opacity:1; transition: all .2s ease-in-out}
#main_nav ul:hover .l3:hover {opacity:1; transition: all .2s ease-in-out}
#main_nav ul:hover .l4:hover {opacity:1; transition: all .2s ease-in-out}
#main_nav ul:hover .l5:hover {opacity:1; transition: all .2s ease-in-out}*/


/* POMOÄ†NA NAV */
#pomocna {width: 100%;  height: 50px; margin-top:20px; margin-bottom:40px;}
#pomocna > ul {min-width:360px; opacity:0.8; margin:0; padding: 0; max-width:100%; text-align: center}
#pomocna ul li { transition: all 1s ease-in-out; opacity:0.7; position: relative; display:inline-block; width: 180px; height: 40px;
 background-image: url("../img/gif/intro.gif");
 background-size: 200px;
 background-repeat: no-repeat;
 background-position: center center;
}
#pomocna li a {text-decoration: none; position: absolute; top:6px; left:50px;color:lime; font-size: 1.2em; }
#pomocna > ul li:hover {opacity:1; transform: scale(1.3); }



/* Main content*/
span.blink {animation: blink 1s infinite;}
@keyframes blink{to{opacity: .0;}}
em { }


#aiming, #car{display: block;
    float: none;
    /* text-align: center; */
    margin: 0 auto;
   width:320px;
    height: auto;
    border: 1px solid;
    border-radius: 10px;}

main {margin:10px;}
main h2 {text-align: center;}
main p.uvod {text-transform: uppercase;text-align: justify; max-width:500px; margin:0 auto; margin-bottom:50px; color:yellow; font-size: 1em;}
main .articles .prvi, .treci { border-left: 3px solid white; border-top:3px solid white;border-bottom:3px solid white;  text-align: justify; margin: 20px 0; border-radius: 25px;padding:10px;}
main .articles .drugi, .cetvrti {border-right: 3px solid white; border-bottom: 3px solid white;border-top:3px solid white;text-align: justify; margin: 20px 0; border-radius: 25px;padding:10px;}
body > main > section > article > h3{  margin: 11px 0 17px 0;
  font-size:2em;
  line-height: 1em;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px; }

main .articles a {color:yellow; }
main .articles .prvi img, main .articles .treci img {width:120px; height: 120px; float:right; border-radius:50%; shape-outside: ellipse(); border: 2px dashed red; margin-left:5px;}	 
main .articles .drugi img, main .articles .cetvrti img {width:120px; height: 120px; float:left; border-radius:50%; shape-outside: ellipse(); border: 2px dashed red; margin-right: 5px;}

/* GALLERY */
.gallery {}
.gallery::after { content: ""; display: table; clear: both;} /* opcije: 1) clearfif; 2) clear:both u block elementu ispod floatanih (npr. dodas br sa clear both); 3) overflow:auto za parent element!  clearfix za gallery, neÅ¡to bolje rjeÅ¡enje od obiÄnog clear:both ; clear:both can be applied to any block-level element */
.gallery > h1 {margin-left:20px; color: white;}
.gallery article {display:inline-block; border:2px solid yellow; margin:6px; max-width:271px; }
.gallery article img {max-width: 100%; transition: all .7s linear;cursor: pointer;}
.gallery article img:hover {transform: scale(1.5);}
body > main > div.container > h2 > a {color:yellow;}



/*  Floatbox 
/* opcije: 1) clearfif; 2) clear:both u block elementu ispod floatanih (npr. dodas br sa clear both); 3) overflow:auto za parent element!  clearfix za gallery, neÅ¡to bolje rjeÅ¡enje od obiÄnog clear:both ; clear:both can be applied to any block-level element!
*/
.floatBox {max-width:100%; border: 2px solid yellow; border-radius: 10px;}
.floatBox > h1 {margin-left:20px; color: white;}
.floatBox article { text-align: center;float:left; margin:5px;height:270px; width:calc(33.3333% - 14px); border:2px solid white; min-height: 150px;}
.floatBox::after { content: ""; display: table; clear: both;} /* fix (clear) za float!*/
body > main > section.floatBox > h1 > a {color:yellow;}
.floatBox article a {color:lime;}
.floatBox article img {display:inline-block;max-width: 100%;}
.floatBox article a img {}
.floatBox article a h1 {}
.floatBox article a p {}

/* MAPA - to do*/
#mapa {margin-top: 50px; border-top:3px solid white;}
#mapa h2 {color:lime; font-size: 1.3em; text-align: center;}
#mapa > h2 > a {color:yellow;}
#mapa .mapa img { max-width: 100%;  border:2px solid lime;border-radius: 10px;}


/*ASIDE*/
.pquote {	float:left; max-width: 400px; color: lime;	font-size: 1.5em; line-height: 0.9;	padding: 5px;
			border:2px dotted red;
			margin:8px;
			text-align: center;
			border-radius: 10px;
		}

blockquote { margin: 0;}
blockquote a {color:yellow;}
.pquote p:first-letter {font-size: 39px;font-weight: bold;}

/* Embeded video */
#video {text-align: center;}
iframe {max-width: 100%;}

/* FOOTER */
footer { padding-top:40px;background-image: url("../img/jpg/footer_bg.jpg");background-repeat:no-repeat; background-size:cover; margin-top:20px;  text-align: center; margin-bottom: 50px; border:1px solid yellow; border-radius: 10px; color: lime; font-size: 1em;}
body > main > footer > ul > li a, body > main > footer {color:white; text-transform: uppercase;}
footer ul {margin:0; padding:0; width:100%;list-style: none; margin-bottom:20px;  }
footer ul li { display:inline-block; width:100px; /*IE7*/}
footer ul li a { color: lime;}
body > main > footer > a {padding:5px;}


/*GALERIJA*/
.container {
	margin: 0 auto;
    max-width: 800px;
    max-height: 100vh;
    background-color: transparent;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
}


/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	background-color: #ddd;
}

.image-holder {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px auto;
}

/* Main Styles */
.gallery-wrapper {
	position: relative;
	margin:0 auto;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
    width: 10%;
    display: inline-block;
    background-color: white;
}


.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
	display: none;
	font-size: 0;
	border-top: none;
}
.move-btn {
	display: inline-block;
	width: 50%;
	border: none;
  color: #ccc;
	background-color: transparent;
	padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }



/* ZOOM na mapu*/
#overlay{
  border:1px solid black;
  width:200px;
  height:200px;
  display:inline-block;
  background-image:url('../img/jpg/Map.jpg');
  background-repeat:no-repeat;
  
}

/*Mediaquery za menu*/
@media only screen and (max-width: 386px) {
    #pomocna {
        margin-bottom:140px;
    }
}